#kartta {	/* Määrittää "Ota Yhteyttä" sivun kartan responsiiviset mitat (<iframe id="kartta") */
	width:50%;
	max-height:90%;
	
}
.tietokartta {	/* Yrityksen yhteystiedot kartan vieressä */
	font-size: 150%;
	float:right;
	width:45%;

}
.tarina {  /* Tämä ei jää tähän! */
	
		columns: 100px 2;
	}
@media only screen and (max-width: 650px) {  /* Kartta täyttää koko sivun leveyden, kun ruudun leveys max 650px */
	#kartta {
		width:100%;

	}
	.tietokartta {
		font-size: 120%;
		float: none;
		width:100%;
	}
	.tarina {
		columns:100px 1;
	}
}
