html {font-family:"Lato", sans-serif }

.center{text-align:center}
.section{margin-left:5%;margin-right:10%}
.padding-64{padding-top:64px;padding-bottom:32px}

.intro {
    text-align: center;
}



body {    
  overflow-x: hidden;  
  padding-bottom: 20px; 
  margin:0;

}
header {
	width: 100%;
	overflow: hidden;
	background: #ffffff url("../Kuvat_taustakuvat/Header_background.png");
	background-repeat: repeat;
	background-position: 60,0;
	padding:0;
	margin:0;
	border:0;
	

  
  
  /* 

 background-image: url("../Kuvat_taustakuvat/Header_background1.png");
  background-repeat: round;
  */
 
 
  
  /*
  background-color: rgba(184, 184, 184, 0.6);
  */
  }
  
  .responav a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
  }
  
  .responav a:hover:not(.active) {
    background-color: #ddd;
    color: #ff7605;
  }

  
  .responav .icon {
    display: none;
  }
  
 .kieli {
  float: right;
 }
aside {

 max-width: 50%;
 margin-left: auto;
 margin-right: auto;
}

article {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.diaesitys {
    display:none
}
.diaesitys img {
    width: 100%;
}
/* Diaesityksen tilanvaraus */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}



/* Pisteet kuvasliden alla */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #666666;

}

/*  Vaihtoanimaatio */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}



footer {

    position: fixed;
    clear: both;
    bottom: 0;
    left: 0;
    padding: 0px;
    background-color:rgba(150,150,150,.6);
    color: #0004ff;
    font-weight:bold;
    text-align: center;
    width:100%;
  }




  @media screen and (max-width: 650px) {
    .responav a:not(:first-child) {display: none;}
    .responav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 650px) {
    .responav.responsive {position: relative;}
    .responav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .responav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
@media only screen and (max-width: 800px) {
    aside {
      width: 100%;
    
	}
	
    header {
        font-size: 75%;

    }
    article {
        width: 100%
    }
}