

body {    
    font-family:"Lato", sans-serif;
    padding-top: 100px; 
    padding-bottom: 5%; 
    margin-left: 0px;

}

header {
    overflow: hidden;
    position: fixed;
    font-size: 150%;
    list-style-type: none;
    text-align: center;
    background-color: #f0f0f0;
    padding: 8px 16px;
    top: 0;
    width: 100%;

}
#logo {
    margin: 5px;
	float: left;
	width: 200px;
	height: 80px;
	background: url(../Kuvat_taustakuvat/Logowait.png) no-repeat center;
	display: block;
}

#mobiili_valikko {   /* Sivu, jolla tällä hetkellä ollaan */
    float: right;
    display: none;

    width: 24px;
	height: 10px;
    margin: 10px;
    background: url(../Kuvat_taustakuvat/menu.png) center;
}
#logoteksti {
    display: none;

}
a:hover#mobiili_valikko {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}
nav a {
    padding: 8px 16px;
    text-decoration: none;
    
}
nav a:link, a:visited {
    color: black;
}

nav a.aktiivinen { /* Sivu, jolla tällä hetkellä ollaan */
    background-color: #555555;
    color:white;
}

nav a:hover:not(.aktiivinen) {
    background-color: #555555;
    color: white;
}
article {
    text-align: center;
}
footer {

    position: fixed;
    clear: both;
    bottom: 0;
    left: 0;
    padding: 0px;
    background-color: #efefef;
    text-align: center;
    width:100%;
  }



@media only screen and (max-width: 650px) { /* ruudun leveyden ollessa max 650px */
    nav a {
        display: none;  /* Navigointipalkin sivut häviää */
    }
    
        
    #mobiili_valikko {
        display:inline-block;
    }
    #logo {
        display: none;
    }
    #logoteksti {
        display:block;
        position: absolute;
        text-decoration: none;
        font-size: 2em;
        background-color: #999999;
        color: #0206ff;
        padding: 5px;
    }
}
@media only screen and (max-width: 800px) {
    
    header {
        font-size: 95%;

    }

}